project:
  type: website
  output-dir: docs

website:
  title: "Why Leaving the Hospital Early Can Be Deadly for Children"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    toc-depth: 3
